<h1>ご購入商品の情報を入力</h1>
<%= form_with model: @room, local: true do |form| %>
  <p><%= form.label :name, "ルーム名" %>
  <%= form.text_field :name %></p>
  <p><%= form.label :charge, "値段" %>
  <%= form.text_field :charge %></p>
  <%= form.submit "登録" %>
<% end %>
